$mavi : rgb(20, 63, 107);
$kirmizi : rgb(245, 83, 83);
$turuncu : rgb(254, 177, 57);
$sari :rgb(246, 245, 77);
$yesil:#125B50;
$yesil2:#24A19C;
$yesil3:rgb(18, 91, 80);
$gri:rgb(103, 111, 163);
$gri2 :rgb(20, 63, 107);
$gri3 :rgb(61, 72, 145);
$gri4: #1F2937;
$vwavemor : #b967ff;
$vwavepembe : #ff71ce;
$vwavekoyu:#E8C07D;
$gri5:#374151;